 flask
 flask_login
 flask_wtf
 pyotp
 qrcode
 pillow
 passlib
 requests
 spacy
 nltk
 transformers
 textblob
 torch
 deep_translator
 numpy
 scikit-learn
 gTTS
 git+https://github.com/TaylorSMarks/playsound.git

 matplotlib


pycryptodome==3.15.0
# uncomment to use huggingface llms
# huggingface-hub==0.14.1

# uncomment to use instructor embeddings
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2
